@keyframes color-change {
  0% {
    color: grey; }
  50% {
    color: grey; }
  100% {
    color: red; } }
body {
  color: #484D60 !important;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif; }

path {
  vector-effect: non-scaling-stroke; }

.leaflet-container {
  background-color: WHITE; }

#header {
  background-color: #E6EFFF;
  min-height: 30vh;
  display: flex;
  margin-bottom: 50px; }
  #header #logos {
    width: 100%;
    position: absolute;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 120px 1fr 120px 1fr;
    top: 0;
    left: 0; }
    #header #logos div {
      height: 100px;
      display: flex; }
      #header #logos div img {
        margin: auto; }
  #header #title {
    text-align: center;
    color: #333333;
    height: max-content;
    margin: auto;
    width: 80%; }
    #header #title h1 {
      color: #333333;
      margin: auto;
      width: 100%;
      text-transform: uppercase;
      font-size: 48px;
      text-align: center; }
      @media (max-width: 800px) {
        #header #title h1 {
          font-size: 30px; } }

#report {
  font-size: 18pt;
  text-decoration: none;
  z-index: 1800;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite; }

#report:hover {
  color: blue; }

#content {
  min-height: 90vh;
  max-width: 1600px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: max-content 80% max-content;
  grid-gap: 10px; }
  @media (max-width: 800px) {
    #content {
      display: block; } }

h1 {
  font-size: 22px;
  width: 70%;
  margin: 10px auto 10px 0; }

#filter {
  width: 90%;
  margin: auto;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  height: max-content;
  align-items: center; }
  @media (max-width: 800px) {
    #filter {
      display: block; } }
  #filter div {
    margin: auto 50px; }
    @media (max-width: 800px) {
      #filter div {
        margin: 0; } }
  #filter h2 {
    font-size: 18px; }
  #filter #select {
    margin-left: 10px;
    width: max-content;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; }

#legend {
  width: 90%;
  padding-bottom: 20px;
  background-color: white;
  display: none;
  position: sticky;
  top: 0;
  padding-left: 5px;
  margin-top: -20;
  z-index: 1000;
  grid-row: 2/3;
  grid-column: 1/2;
  height: auto;
  pointer-events: none; }
  #legend h2 {
    font-size: 16px; }
  #legend p span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block; }

#map {
  position: relative;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 95%;
  height: 100%;
  margin: auto;
  min-height: 300px;
  display: grid; }

svg#adm1 {
  pointer-events: none; }

#donors {
  font-size: 13px;
  grid-column: 1/2;
  grid-row: 3/4;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 70px 90px auto;
  grid-column-gap: 20px; }

#cases {
  grid-row: 1/-1;
  grid-column: 2/3;
  max-height: 95vh;
  overflow-y: auto; }
  @media (max-width: 800px) {
    #cases {
      width: 90vw;
      margin: auto;
      max-height: 200vh; } }
  #cases p.intro {
    margin: 10px auto auto 0; }

@media (max-width: 800px) {
  #jpeg-map {
    display: none; } }

.cases {
  width: 80%;
  border: 1px solid #E6EFFF;
  margin: 10px;
  padding: 10px; }

.title {
  font-weight: 800;
  width: 70%;
  margin: 10% auto auto 5%;
  cursor: pointer; }

#indicators-container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 70%;
  margin: 10px auto 10px 5%; }

.indicators {
  width: 30px; }

#bar p {
  color: lightgrey; }
#bar #bar-chart svg text {
  font-family: 'Play', sans-serif;
  fill: grey;
  font-size: 12px; }
#bar #bar-chart svg path.domain {
  display: none; }
#bar #bar-chart svg g.tick line {
  opacity: 0; }

#source {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 50px 0 20px 0; }
  #source a {
    color: #484D60;
    font-size: 15pt;
    font-weight: 800;
    display: block;
    text-decoration: none;
    margin-bottom: 20px; }

.leaflet-popup-content-wrapper {
  background-color: white;
  color: grey;
  font-size: 17px;
  max-width: 300px; }

/*# sourceMappingURL=style.css.map */
