@keyframes color-change {
  0% {
    color: red; }
  50% {
    color: grey; }
  100% {
    color: red; } }
body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  line-height: 1.6;
  font-family: 'Play', sans-serif; }
  @media (max-width: 800px) and (orientation: portrait) {
    body {
      height: 100vh;
      overflow-y: hidden;
      overflow-x: hidden; } }

#myModal {
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 150vh;
  background-color: #333333;
  z-index: 2000; }
  @media (max-width: 800px) and (orientation: portrait) {
    #myModal {
      display: flex; } }
  #myModal #warning {
    text-align: center;
    width: 60%;
    margin: 25vh auto;
    color: white;
    font-weight: 800; }

#header {
  background-color: lightgrey;
  height: 100vh;
  display: flex; }
  #header #logos {
    width: 100%;
    position: absolute;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 120px 1fr 120px 1fr;
    top: 0;
    left: 0; }
    #header #logos div {
      height: 100px;
      display: flex; }
      #header #logos div img {
        margin: auto; }
  #header #title {
    text-align: center;
    color: #333333;
    height: max-content;
    margin: auto;
    width: 80%; }
    #header #title h1 {
      color: #333333;
      margin: auto;
      width: 100%;
      text-transform: uppercase;
      font-size: 48px;
      text-align: center; }
      @media (max-width: 800px) and (orientation: landscape) {
        #header #title h1 {
          font-size: 30px; } }

#report {
  text-decoration: none;
  position: absolute;
  left: 50px;
  bottom: 10px;
  z-index: 1800;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite; }

#report:hover {
  color: blue; }

#content {
  min-height: 90vh;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 300px 100px auto; }
  @media (max-width: 800px) and (orientation: landscape) {
    #content {
      display: block; } }

h1 {
  color: white;
  font-size: 22px;
  width: 70%;
  margin: 10px auto 10px 0; }

p {
  font-size: 15px; }

#filter {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  height: max-content; }
  #filter div {
    margin: auto 50px; }
  #filter h2 {
    color: white;
    font-size: 16px; }
  #filter #select {
    width: 100%; }

#legend {
  background-color: #333333;
  display: none;
  position: sticky;
  top: 0;
  padding-left: 5px;
  color: white;
  margin-top: -20;
  z-index: 1000;
  grid-row: 2/3;
  grid-column: 1/2;
  height: auto;
  pointer-events: none; }
  #legend p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }
  #legend h2 {
    color: white;
    font-size: 16px; }
  #legend p span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block; }

#mapid {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 600px; }
  #mapid svg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0; }
    #mapid svg .region {
      cursor: pointer; }
    #mapid svg text {
      text-transform: uppercase;
      pointer-events: none; }

#cases {
  grid-row: 1/-1;
  grid-column: 2/3;
  max-height: 95vh;
  overflow-y: auto; }
  @media (max-width: 800px) {
    #cases {
      width: 90vw;
      margin: auto;
      max-height: 200vh; } }
  #cases p.intro {
    color: white;
    margin: 10px auto auto 5%; }

@media (max-width: 800px) {
  #jpeg-map {
    display: none; } }

.cases {
  padding: 10px;
  margin: 10px 0; }

.title {
  width: 70%;
  margin: 10% auto auto 5%;
  cursor: pointer; }

#indicators-container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 70%;
  margin: 10px auto 10px 5%; }

.indicators {
  width: 30px; }

#bar {
  position: absolute;
  top: 80px;
  left: 0; }
  #bar p {
    color: lightgrey; }
  #bar #bar-chart svg text {
    fill: lightgrey;
    font-size: 12px; }
  #bar #bar-chart svg path.domain {
    display: none; }
  #bar #bar-chart svg g.tick line {
    opacity: 0; }

/*# sourceMappingURL=style.css.map */
