$pink: #F69291;
$dark: #2F4858;

@keyframes color-change {
  0% { color: $dark; }
  50% { color: $dark; }
  100% { color: $pink; }
}


body {
  color: $dark;
  margin:0;
  padding:0;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}


path {
  vector-effect: non-scaling-stroke;
}

path.hide-me {
  pointer-events: none !important;
}

.leaflet-container {
  background-color: WHITE;
}



#header {
  background-color: $pink;
  min-height:20vh;
  display:flex;

  #logos  {
    width:100%;
    position:absolute;
    height:150px;
    display:grid;
    grid-template-columns: 1fr 120px 1fr 120px 1fr;
    top:0;
    left:0;

    div {
      height:100px;
      display:flex;

      img {
        margin:auto;
      }
    }
  }

  #title {
    text-align: center;
    color:#333333;
    height:max-content;
    margin:auto;
    width: 80%;


    //transform: rotate(-15deg);

  h1 {
    color: $dark;
    margin:auto;
    width:100%;
    text-transform: uppercase;
    font-size:35px;
    text-align: center;
    letter-spacing: 1px;
    @media(max-width:800px){
      font-size:25px;
    }
  }

  }
}

#report {
  text-transform: uppercase;
  display: block;
  font-size:18px;
  letter-spacing: 2px;
  text-decoration: none;
  z-index:1800;
  margin: 20px 0;
  color:white;
  cursor:pointer;
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;

  @media(max-width: 800px){
    font-size:12px;
  }
}

#report:hover {
  color: $pink;
}

#content {
  min-height: 90vh;
  max-width:1600px;
  margin:auto;
  position:relative;
  display:grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: max-content 80% max-content;
  grid-gap:10px;
  @media(max-width:800px) {
    display:block;
  }

}

h1 {
  //background-color: yellow;
  //color: white;
  font-size:22px;
  width:70%;
  margin:10px auto 10px 0;
}

#filter {
  width:90%;
  margin:auto;
  grid-row:1/2;
  grid-column:1/2;
  display:flex;
  height:max-content;
  align-items: center;
  @media (max-width:800px) {
    display:block;
  }

  div {
    margin:auto 50px;
    @media (max-width:800px) {
      margin:0;
    }
  }

  h2 {
    //color:white;
    font-size:18px;
  }

  #select {
    margin-left: 10px;
    width: max-content;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
  }
}


#legend {
  padding-bottom:20px;
  background-color: white;
  display:none;
  position:sticky;
  top:0;
  padding-left:5px;
  //color:white;
  margin-top:-20;
  z-index: 1000;
  grid-row:2/3;
  grid-column:1/2;
  //display:flex;
  height:auto;
  pointer-events: none;


  h2 {
    //color:white;
    font-size: 16px;
  }

  p span {
    width:10px;
    height:10px;
    margin-right: 10px;
    display:inline-block;
  }
}


  #map {
    position: relative;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height:100%;
    margin:auto;
    min-height: 300px;
    display: grid;
    //border:1px solid lightgrey;
  }

    svg#adm1 {
      pointer-events: none;
    }


  #cases {
    grid-row:1/3;
    grid-column:2/3;
    max-height:95vh;
    overflow-y: auto;
    @media(max-width:800px){
      width:90vw;
      margin:auto;
      max-height:200vh;
    }
      p.intro {
         margin: 10px auto auto 0;
      }
  }

  .cases {
    border:1px solid #E6EFFF;
    margin:10px;
    padding:10px;
  }


  .title {
    font-weight: 800;
    width:70%;
    cursor:pointer;
  }

  #indicators-container {
    display:flex;
    justify-content: space-between;
    height:30px;
    width:70%;
    margin:10px auto 10px 5%;

  }

  .indicators {
    width:30px;
  }


  #bar {

    p {
      color:lightgrey;
    }

    #bar-chart {

      svg {

        text {
          font-family: 'Play', sans-serif;
          fill: grey;
          font-size: 12px;
        }

        path.domain {
          display: none;
        }

        g.tick line {
          opacity: 0;
        }
      }
    }
  }


  #source {
    max-width:1600px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    @media(max-width: 800px){
      display: block;
      padding: 5px 0;
    }

    a {
      color: #484D60;
      text-transform: uppercase;
      font-size:12pt;
      display:block;
      text-decoration: none;
      @media(max-width: 800px){
        text-align: center;
        margin-bottom: 5px;
      }
    }

    a:nth-child(2), a:nth-child(3) {
      text-align: center;
    }

    a:nth-child(4) {
      text-align: right;
      @media(max-width: 800px){
        text-align: center;
      }
    }

  }

.leaflet-popup-content-wrapper {
  background-color: white;
  color: grey;
  font-size:17px;
  max-width:300px;
}


#select {
  display: block;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 5px 15px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
#select::-ms-expand {
  display: none;
}
#select:hover {
  border-color: #888;
}
#selects:focus {
  border-color: #aaa;
  box-shadow: $pink;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
#select option {
  font-weight:normal;
}


.donors {
  align-items: center;
  padding: 5px;
  border: 1px solid grey;
  margin: 2px;
  @media(max-width: 800px){
    width: 90%;
    margin: 15px auto;
    display: block;
  }

  img {
    display: inline-block;
    margin-right: 10px;
    width: 95%;
  }

  p {
    width: 100%;
    height: max-content;
    display: inline-block;
    font-size: 12px;
  }
}

#donors-2019 {
  display: grid;
  grid-template-columns: 130px 160px 60px auto;
}

#donors-2018 {
  display: grid;
  grid-template-columns: 60px auto;
}


